[user]
  name = Preston Davis
  email = pdavis@redhat.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKKXmas0x/P9kHsG5UAVm4Lmn2pEk1qeAJDTEnlYkkRW

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[includeIf "gitdir:~/projects/saas/new/saas-boutique-demo"]
  path = ~/projects/saas/new/saas-boutique-demo/.gitconfig
